
extends ../layout.jade

block content
  h1.header.slds-text-heading--large Documentation
  p
    :markdown
      If you are new to Ryba, ready the [short introduction](/documentation/introduction)
      of Ryba and jump to the [Getting Started](/documentation/getting_started)
      tutorial!
  h2 Quick Start
  ul.slds-list--dotted
    li
      a(href="/documentation/introduction") What is Ryba
    li
      a(href="/documentation/getting_started") Getting Started
  //- h2 Developer’s Guide
  //- ul
  //-   li
  //-     a(href="/") Understand the Internal
  //-   li
  //-     a(href="/") Write your middleware
  //- h2 Contributor’s Guide
  //- ul
  //-   li
  //-     a(href="/") How to contribute
  //-   li
  //-     a(href="/") Development setup    
  //- p.description
  //-   |You can find more complete <a href="/documentation/tutorial">tutorials</a> and processes in the guides section
  //-   |Browse some <a href="/documentation/examples">examples</a> to see what you can do and how RYBA is extensible.



  
