doctype html    
html
  head
    meta(charset='utf-8')
    link(rel='icon', type='image/vnd.microsoft.icon', href='favicon.ico')
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
    link(rel='stylesheet', type='text/css', href='/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf')
    link(rel='stylesheet', type='text/css', href='/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')
    script(type='text/javascript', src='http://localhost:8080/webpack-dev-server.js')
    script(type='text/javascript', src='http://localhost:8080/bundle.js')
  body#ryba.pushable.reset-page    
      div#leftMenu.ui.vertical.inverted.sidebar.menu.left
        div.ui.search
          div.ui.icon.input.fluid.item
            input.prompt(placeholder="Search...",type="text")
            i.search.icon
        div.item
            | Quick Start
            div.menu
                a.item(href="/documentation/ryba")
                  | What is ryba
                a.item(href="/documentation/start")
                  | Getting Started
        div.item
            | Guides
            div.menu
                a.item(href="/documentation/tutorial")
                  | Tutorial
                a.item(href="/documentation/examples")
                  | Your first Middleware
        div.item
            | How To contribute
            div.menu
                a.item(href="/documentation/Github")
                  | Fork from Github
                a.item(href="/documentation/SubmitMiddleware")
                  | Submit your Middleware
      div#launch.ui.black.big.launch.right.attached.fixed.button
          i.content.icon
          span.text Menu
      div#content.pusher
        div#header.ui.fixed.inverted.main.borderless.menu
          div
            .header.container
              .item.logo
                img(src='/img/logo.png')
              .item.intro
                p Ryba - deploy multi-tenant Hadoop Clusters
                a.ui.label.large(href="/documentation")
                  i.student.icon
                  | Documentation
                a.ui.label.large(href="")
                  i.list.icon
                  | Modules
                a.ui.label.large(href="https://github.com/ryba-io/ryba")
                  i.github.icon
                  | Source Code
        div.full.height
            div.main.title.header.segment
            .main.content.container
                h1.ui.dividing.header 
                  | WELCOME TO THE RYBA DOCUMENTATION
                .ui.close.right.rail
                      .ui.sticky.fixed.top
                              #rightMenu.ui.secondary.vertical.following.fluid.accordion.menu
                div.introduction
                  p
                  |You can use the left menu for browsing documentation.
                  p
                  |We advice you to start by the Quick Start Section !
                br
                div
                  h2
                    |Documentation Summary
                  ul
                    li
                      |Ryba's history
                    li
                      |Ryba's motivations
                    li
                      |Tutorials
                    li
                      |Guides
                    li
                      |....
                  p.description
                    |You can start by reading about what is Ryba in <a href="/documentation/ryba">Ryba's section</a>
                    |or you can go directly to the <a href="/documentation/ryba">getting started section</a> if you wan't to enter the subject right away and starting to install an try RYBA!
                  p.description
                    |You can find more complete <a href="/documentation/tutorial">tutorials</a> and processes in the guides section
                    |Browse some <a href="/documentation/examples">examples</a> to see what you can do and how RYBA is extensible.
                  p
                    | Let's Go !
                  h2
                    |Why use ryba ?             
                    h3.ui.header
                      i.checkmark.icon
                      | COMPLETE
                    div
                      p.description
                        |Before installing Hadoop, Ryba can boostraps to the clusters and install on each servers the  essentials components of the OS from a single ssh connection
                    h3.ui.header
                      i.move.icon
                      | Flexible
                    div
                      p.description
                        |You can choose easily in one configuration file which Hadoop's components you want and the way they are spread over the cluster
                        |You can go directly without changing the default configuration if you wan to test ryba
                    h3.ui.header
                      i.lock.icon
                      | Secured
                    div
                      p.description
                        |Ryba bootstraps with SSH ton ensure secured connections to the clusters.
                        |Every components is authenticated with SASL security layer 
                    h3.ui.header
                      i.cubes.icon
                      | Middlewares
                    div
                      p.description
                        |Ryba is  written with a middlewares based structure. You can add easily middlewares to expand the ryba's functionalities.



                
            
