#mainContent
  position absolute 
  width 100%
#header
  position relative
  width 100%
#leftMenu
  position relative
  margin auto
  float left
div.ui.small.inverted.header
  color black
div.main.container,div.main.container.content
  color white
  position relative
h1.ui.dividing.header 
  margin-left 20px
  margin-top 20px
  color white
  font-size 20px
  font-weight 200
h2.ui.header 
  margin-left 20px
  margin-top 20px
  color white
  font-size 18px
  font-weight 20px
p.description
  margin-left 20px