html,
body {
  font-size: 13px;
}
#launch.right.button {
  height: auto;
  left: -1px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  transition: width 0.3s ease 0s, transform 0.5s ease 0s;
  white-space: nowrap;
  width: 55px;
}
#launch.right.button .icon {
  margin-left: 0px;
}
#launch.right.button:hover {
  width: 130px;
}
#launch.right.button:hover .text {
  opacity: 1;
}
#launch.right.button .text {
  left: 54px;
  opacity: 0;
  position: absolute;
  top: auto;
  transition: opacity 0.3s ease 0.3s;
  white-space: nowrap;
}
#header {
  transition: height 2s;
  background-color: rgba(0,0,0,0.85);
}
#header .container {
  margin: 0.2rem auto;
}
#header .container .item.logo {
  width: 20%;
}
#header .container .item.logo img {
  top: -30px;
  position: absolute;
}
#header .container .item.intro {
  width: 80%;
  text-align: center;
}
#header.small {
  transition: height 2s;
}
#header.small .item.logo {
  width: 10%;
}
#header.small .item.logo img {
  top: -10px;
}
#header.small .item.intro p {
  display: none;
}
#content .main.title {
  position: relative;
  background-color: #fff;
  padding-top: 10rem;
}
#content .main.title .container {
  padding: 0 2em;
}
#content .main.content.container {
  padding: 2em 2em 10em;
  background-color: #fff;
}
#content .main.content.container .page {
  position: relative;
}
#content .main.content.container .accordion pre {
  margin-top: 0;
}
#content .main.content.container .accordion pre .hljs {
  padding: 2em 1em;
}
#content .following.menu {
  padding-top: 2em;
}
.container {
  position: relative;
  margin: 0 auto;
  right: 128px;
  padding: 0 2em;
}
.toc .inverted.header {
  color: rgba(255,255,255,0.8);
  font-size: 0.8em;
  line-height: 1em;
  font-weight: normal;
}
.toc .modules.item {
  padding-top: 0;
  padding-bottom: 0;
}
@media only screen and (max-width: 600px) {
  #ryba .container {
    width: auto;
  }
  #ryba .container .ui.secondary.menu {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 680px) {
  #ryba .container {
    width: auto;
  }
  #ryba .container .ui.secondary.menu {
    display: none;
  }
}
@media only screen and (min-width: 680px) and (max-width: 998px) {
  #ryba .container {
    width: 680px;
  }
  #header p {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 998px) and (max-width: 1200px) {
  #ryba .container {
    width: 720px;
  }
  #header p {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1355px) {
  #ryba .container {
    width: 765px;
  }
  #header p {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1355px) {
  #ryba .container {
    width: 765px;
  }
  #header p {
    font-size: 2em;
  }
}
