
#content
  .main.title
    position relative
    background-color #fff
    padding-top 10rem
    .container
      padding 0 2em
    .ui.grid
      margin 0
  .main.content.container
    padding 2em 2em 10em
    background-color #fff
    h1, h2, h3
      margin 1rem 0
      &:first-child
        margin-top 0
    h2, h3
      font-size 1.28rem
      font-weight 700
    a
      text-decoration none
    p, ul
      line-height 1.33
      margin-bottom 1rem
    .page
      position relative
    .accordion pre
      margin-top 0
      .hljs
        padding 2em 1em
