
#content
  .main.title
    position relative
    background-color #fff
    padding-top 10rem
    .container
      padding 0 2em
    .ui.grid
      margin 0
  .main.content.container
    padding 2em 2em 10em
    background-color #fff
    .page
      position relative
    .accordion pre
      margin-top 0
      .hljs
        padding 2em 1em
