
@import '../../node_modules/nib'

#ryba
  .anim
    position relative
    padding-top 10rem
    height 35rem
    background-color #0e232b
    width 100%
    right 0
    margin-bottom 3rem
    // .container
    //   height 25rem
    .output
      padding 0
      margin-bottom .5rem  !important
      position relative
      height 21rem
      overflow hidden
      // .ui.inverted.table
      //   background-color transparent !important
      //   border-color transparent
      table
        width 100%
        color #d1f6ff
        .status
          color #00c3e0
    .commands
      // position absolute
      // left 0
      // right 0
      // bottom 0
      text-align center
      border-top 1px solid #d1f6ff
      // .ui.label
      a
        user-select none
        color #d1f6ff
        padding .5rem
        display inline-block
        cursor pointer
        &:hover
          color #fff
        &.active
          color #0e232b
          border-radius: bottom 5px
          background: #d1f6ff
  .nano .nano-pane
    background rgba(255,255,255,0.5)
  .nano > .nano-pane > .nano-slider
    background rgba(255,255,255,0.5)
