
html, body
  font-size 13px

#launch.right.button
  height auto
  left -1px
  overflow hidden
  position fixed
  top 50%
  transition width 0.3s ease 0s, transform 0.5s ease 0s
  white-space nowrap
  width 55px
  .icon
    margin-left: 0px;
  &:hover
    width 130px
    .text
      opacity 1
  .text
    left: 54px
    opacity: 0
    position: absolute;
    top: auto;
    transition: opacity 0.3s ease 0.3s;
    white-space: nowrap;

#header
  transition height 2s
  // height 100px
  background-color rgba(0,0,0,0.85)
  .container
    margin .2rem auto
    .logo
      position relative
      display inline-block
      width 20%
      // box-sizing border-box
      img
        max-width 100%
        // display block
        top -50px
        position absolute
    .intro
      width 80%
      text-align center
  &.small
    transition height 2s
    .logo
      width 10%
      img
        top -10px
    .item.intro p
      display none
#content
  .following.menu
    padding-top 2em

.container
  position relative
  margin 0 auto
  right 128px
  padding 0 2em
a.anchor
  padding-top 60px
.module
  margin-top 30px

@media only screen and (max-width : 600px)
  .container
    width auto
    .ui.secondary.menu
      display none
@media only screen and (min-width : 600px) and (max-width : 680px)
  .container
    width auto
    .ui.secondary.menu
      display none
@media only screen and (min-width : 680px) and (max-width: 998px)
  .container
    width 680px
  #header
    p
      font-size 1.5em
@media only screen and (min-width : 998px) and (max-width: 1200px)
  .container
    width 720px
  #header
    p
      font-size 1.8em
@media only screen and (min-width : 1200px) and (max-width: 1355px)
  .container
    width 765px
  #header
    p
      font-size 2em
@media only screen and (min-width : 1355px)
  .container
    width 765px
  #header
    p
      font-size 2em

.module-list
  .module
    img
      width 200px
      height auto
    i.icon
      float right
      font-size 1em
    i.icon.checkmark
      color green
    i.icon.warning
      color #eeb422
    i.icon.remove
      color #a52a2a
