
extends ./layout.jade

block home_anim
  .ryba.anim
    .container
      .output
        .nano
          .nano-content
            //- table goes here
      //- .ui.menu.ryba.commands
      .ryba.commands
        a Install
        a Start
        a Stop
        a Status
        a Check
        //- a Backup
block content
  h1 hello
  
  h3.ui.header
    i.checkmark.icon
    | COMPLETE
  div
    p.description
    | Before installing Hadoop, Ryba can boostraps to the clusters and install on each servers the  essentials components of the OS from a single ssh connection
  h3.ui.header
    i.move.icon
    | Flexible
  div
    p.description
    | You can choose easily in one configuration file which Hadoop's components you want and the way they are spread over the cluster
    | You can go directly without changing the default configuration if you wan to test ryba
  h3.ui.header
    i.lock.icon
    | Secured
  div
    p.description
    | Ryba bootstraps with SSH ton ensure secured connections to the clusters.
    | Every components is authenticated with SASL security layer 
  h3.ui.header
    i.cubes.icon
    | Middlewares
  div
    p.description
    | Ryba is  written with a middlewares based structure. You can add easily middlewares to expand the ryba's functionalities.

  
