doctype html    
html
  head
    meta(charset='utf-8')
    title Ryba - Multi-Tenant Hadoop deployment
    link(rel='icon', type='image/vnd.microsoft.icon', href='/img/favicon.png')
    link(rel='shortcut icon', type='image/x-icon', href='/img/favicon.png')
    //- link(rel='stylesheet', type='text/css', href='/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf')
    //- link(rel='stylesheet', type='text/css', href='/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- if process.env['RYBA_DEV']
    //-   script(type='text/javascript', src='http://localhost:8080/webpack-dev-server.js')
    //-   script(type='text/javascript', src='http://localhost:8080/bundle.js')
    //- else
    script(type='text/javascript', src='/bundle.js')
  body#ryba.pushable
    .sitemap
    #launch.ui.attached.right.black.fixed.button
      i.content.icon
      span.text Menu
    #header.ui.top.fixed.inverted.main.borderless.menu
      div
        .header.container
          a.logo(href="/")
            img(src='/img/logo.png')
          .item.intro
            p Ryba - deploy multi-tenant Hadoop Clusters
            a.ui.label.large(href="/documentation")
              i.student.icon
              | Documentation
            a.ui.label.large(href="/modules")
              i.list.icon
              | Modules
            a.ui.label.large(href="https://github.com/ryba-io/ryba")
              i.github.icon
              | Source Code
    #content.pusher
      .full.height
        block home_anim
        .segment.ryba.main.title
          .container
            .ui.horizontal.segment
            //- .ui.sixteen.wide.column.grid
            //-   .ten.wide.column
            //-     .ui.horizontal.segment.ryba.title
            //-   .six.wide.column
            //-     .ui.horizontal.segment
            //-       .commands
        .main.content.container
          block content
      .ui.inverted.black.footer.vertical.segment
        .container
          .ui.stackable.inverted.divided.relaxed.grid
            .four.wide.column
              //- h4.ui.teal.inverted.header Getting Started
              h4.ui.teal.inverted.header Quick Navigation
              .ui.inverted.link.list
                //- a.item(href="#") 15 minutes introduction
                a.item(href="/documentation/introduction") What is Ryba
                a.item(href="/documentation/getting_started") Getting Started
                a.item(href="/modules") Modules
                //- a.item(href="#") Developement Environnemt
                //- a.item(href="#") Become a power user
            .four.wide.column
              h4.ui.teal.inverted.header Contribute
              .ui.inverted.link.list
                a.item(href="https://github.com/ryba-io/") GitHub
                a.item(href="https://github.com/ryba-io/ryba/issues") Issue Tracker
                a.item(href="https://github.com/ryba-io/ryba/blob/master/LICENSE.md") License
                //- a.item(href="#") Contact
            .eight.wide.column
              h3.ui.inverted.header Suggestions, problems, feedback?
              p
              | Deploying Hadoop in a secured multi-tenant mode take a lot of
              | energy. Support this community effort with your contribution.
              | Review the documentation, test Ryba in multiple environments
              | or sponsor new features.
              //- form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
              //-   button.ui.teal.button(type='submit') Donate Today

  
