doctype html    
html
  head
    meta(charset='utf-8')
    title Ryba - Multi-Tenant Hadoop deployment
    link(rel='icon', type='image/vnd.microsoft.icon', href='/img/favicon.png')
    link(rel='shortcut icon', type='image/x-icon', href='/img/favicon.png')
    //- link(rel='stylesheet', type='text/css', href='/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf')
    //- link(rel='stylesheet', type='text/css', href='/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- if process.env['RYBA_DEV']
    //-   script(type='text/javascript', src='http://localhost:8080/webpack-dev-server.js')
    //-   script(type='text/javascript', src='http://localhost:8080/bundle.js')
    //- else
    link(rel="apple-touch-icon-precomposed", sizes="57x57", href="/favicomatic/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/favicomatic/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/favicomatic/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/favicomatic/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon-precomposed", sizes="60x60", href="/favicomatic/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon-precomposed", sizes="120x120", href="/favicomatic/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon-precomposed", sizes="76x76", href="/favicomatic/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon-precomposed", sizes="152x152", href="/favicomatic/apple-touch-icon-152x152.png")
    link(rel="icon", type="image/png", href="/favicomatic/favicon-196x196.png", sizes="196x196")
    link(rel="icon", type="image/png", href="/favicomatic/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/favicomatic/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicomatic/favicon-16x16.png", sizes="16x16")
    link(rel="icon", type="image/png", href="/favicomatic/favicon-128.png", sizes="128x128")
    meta(name="application-name", content="Ryba")
    meta(name="msapplication-TileColor", content="#FFFFFF")
    meta(name="msapplication-TileImage", content="/favicomatic/mstile-144x144.png")
    meta(name="msapplication-square70x70logo", content="/favicomatic/mstile-70x70.png")
    meta(name="msapplication-square150x150logo", content="/favicomatic/mstile-150x150.png")
    meta(name="msapplication-wide310x150logo", content="/favicomatic/mstile-310x150.png")
    meta(name="msapplication-square310x310logo", content="/favicomatic/mstile-310x310.png")

    script(type='text/javascript', src='/bundle.js')
  body#ryba.pushable
    .sitemap
    #launch.ui.attached.right.black.fixed.button
      i.content.icon
      span.text Menu
    #header.ui.top.fixed.inverted.borderless.menu
      .header.container
        a.logo(href="/")
          img(src='/img/logo.png')
        .intro
          p Ryba - deploy multi-tenant Hadoop Clusters
          div
            a.ui.label.large(href="/documentation")
              i.student.icon
              | Documentation
            a.ui.black.label.large(href="/modules")
              i.list.icon
              | Modules
            a.ui.black.label.large(href="https://github.com/ryba-io/ryba")
              i.github.icon
              | Source Code
    #content.pusher
      .full.height
        block home_anim
        .ryba.title
          .container
            //- .ui.sixteen.wide.column.grid
            //-   .ten.wide.column
            //-     .ui.horizontal.segment.ryba.title
            //-   .six.wide.column
            //-     .ui.horizontal.segment
            //-       .commands
        .ryba.container.content
          block content
      .ui.inverted.black.footer.vertical.segment
        .container
          .ui.stackable.inverted.divided.relaxed.grid
            .four.wide.column
              //- h4.ui.teal.inverted.header Getting Started
              h4.ui.teal.inverted.header Quick Navigation
              .ui.inverted.link.list
                //- a.item(href="#") 15 minutes introduction
                a.item(href="/documentation/introduction") What is Ryba
                a.item(href="/documentation/getting_started") Getting Started
                a.item(href="/modules") Modules
                //- a.item(href="#") Developement Environnemt
                //- a.item(href="#") Become a power user
            .four.wide.column
              h4.ui.teal.inverted.header Contribute
              .ui.inverted.link.list
                a.item(href="https://github.com/ryba-io/") GitHub
                a.item(href="https://github.com/ryba-io/ryba/issues") Issue Tracker
                a.item(href="https://github.com/ryba-io/ryba/blob/master/LICENSE.md") License
                //- a.item(href="#") Contact
            .eight.wide.column
              h3.ui.inverted.header Suggestions, problems, feedback?
              p
              | Deploying Hadoop in a secured multi-tenant mode take a lot of
              | energy. Support this community effort with your contribution.
              | Review the documentation, test Ryba in multiple environments
              | or sponsor new features.
              //- form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
              //-   button.ui.teal.button(type='submit') Donate Today

  
